<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <directoryBrowse enabled="false" />
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<!-- 2026-08-11 SEO/보안 헤더 추가 -->
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
				<add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=(self)" />
			</customHeaders>
		</httpProtocol>

		<defaultDocument>
			<files>
				<clear />
				<add value="Index.asp" />
			</files>
		</defaultDocument>

		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
			<authorization>
				<remove users="*" roles="" verbs="" />
				<add accessType="Allow" users="*" verbs="GET, POST" />
			</authorization>
		</security>

		<!-- <httpErrors errorMode="Custom">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/_error/" responseMode="ExecuteURL" />
        </httpErrors> -->

		<!-- 2026-06-11 추가: gzip/deflate 압축 활성화 (정적 + 동적) -->
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />

		<!-- 2026-06-11 추가: 정적 자원 30일 클라이언트 캐시. ASP 동적 HTML 응답엔 영향 없음 -->
		<!-- 2026-06-15 추가: PWA/SEO용 .webmanifest MIME 매핑. IIS 기본 매핑에 없어서 404 발생하던 문제 해결 -->
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<remove fileExtension=".webmanifest" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>

		<httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>